<div id="<%= dom_id writing_goal %>">
  <p>
    <strong>Book:</strong>
    <%= writing_goal.book_id %>
  </p>

  <p>
    <strong>Start on:</strong>
    <%= writing_goal.start_on %>
  </p>

  <p>
    <strong>Finish on:</strong>
    <%= writing_goal.finish_on %>
  </p>

  <p>
    <strong>Target:</strong>
    <%= writing_goal.target %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= writing_goal.summary %>
  </p>

</div>
