<div class="main">
  <div>
    <%= link_to "Back to #{@book}", book_path(@book), class: 'action' %>
    <%= link_to "Edit", edit_writing_goal_path(@writing_goal), class: 'action' %>
  </div>
  <%= headline("Writing Goal: #{@book}") %>
  <table class='w-full table-fixed my-12 text-xl'>
    <tr>
      <th>Start:</th>
      <td class='text-right'><%= dateness(@writing_goal.start_on, "%-d %B %Y") || "Not set" %></td>
      <th>Finish:</th>
      <td id='end-on' class='text-right' data-end-on="<%= dateness(@writing_goal.finish_on) || "" %>"><%= dateness(@writing_goal.finish_on, "%-d %B %Y") || "Not set" %></td>
    </tr>
    <tr>
      <th>Current:</th><td class='text-right' id='writing-wordcount'><%= number_with_delimiter(@writing_goal.wordcount) %></td>
      <th>Target:</th><td class='text-right' id='writing-target'><%= number_with_delimiter(@writing_goal.target) %></td>
    </tr>
    <tr> <th>Summary:</th><td> <%= (@writing_goal.summary.nil? or @writing_goal.summary.empty?) ? "..." : @writing_goal.summary %></td>
    </tr>
  </table>
  <%= render "dashboard/heatmap", entries: @writing_goal.writing_entries %>
<%= h2('Entries') %>
  <table class='w-full table-fixed my-12'>
    <thead>
      <tr>
        <th class='border w-40'>Date</th>
        <th class='border w-20'>Logged</th>
        <th class='border w-40' colspan='2'>Running Total</th>
        <th class='border w-20'>Daily Target</th>
        <th class='border'>Comment</th>
      </tr>
    </thead>
    <tbody id='writing_entries'>
    <% unless (@writing_goal.start_on.nil? or @writing_goal.finish_on.nil?) %>
    <% (@writing_goal.start_on..@writing_goal.finish_on).each do |date| %>
      <% @entry = (@entries[date].nil?) ? nil : @entries[date] %>
      <% @date = date %>
      <%= render 'writing_entries/writing_entry', entry: @entry %>
    <%end%>
    <%end%>
    </tbody>
  </table>
</div>
<script type="text/javascript">
  const target = parseInt(document.getElementById('writing-target').innerHTML.replace(/,/g, ''))
  const end_on = new Date(document.getElementById('end-on').innerHTML)
  function entryMath() {
    var total = 0;
    var el = [...document.getElementsByClassName("entry")];
    el.forEach(function(entry){
      var today = new Date(entry.dataset.date)
      var count = parseInt(entry.dataset.count)

      var days_left = Math.ceil((end_on - today) / (1000 * 60 * 60 * 24))
      var daily_pace = Math.ceil((target - count) / days_left);
      
      total = total + count
      entry.cells[2].innerHTML = total.toLocaleString()
      entry.cells[3].innerHTML = parseInt(total / target * 100) + "%";
      entry.cells[4].innerHTML = daily_pace.toLocaleString()
    });
  }
  const interval = setInterval(function() {
    entryMath()
  }, 125);
 entryMath()
</script>