<div class="main">
  <div>
    <%= link_to "Back to #{@book}", book_path(@book), class: 'action' %>
    <%= link_to "Edit", edit_writing_goal_path(@writing_goal), class: 'action' %>
  </div>
  <%= headline("Writing Goal: #{@book}") %>
  <table class='w-full my-12 text-xl table-fixed'>
    <tr>
      <th>Start:</th>
      <td class='text-right'><%= dateness(@writing_goal.start_on, "%-d %B %Y") || "Not set" %></td>
      <th>Finish:</th>
      <td id='end-on' class='text-right' data-end-on="<%= dateness(@writing_goal.finish_on) || "" %>"><%= dateness(@writing_goal.finish_on, "%-d %B %Y") || "Not set" %></td>
    </tr>
    <tr>
      <th>Current:</th><td class='text-right' id='writing-wordcount'><%= number_with_delimiter(@writing_goal.wordcount) %></td>
      <th>Target:</th><td class='text-right' id='writing-target'><%= number_with_delimiter(@writing_goal.target) %></td>
    </tr>
    <tr> <th>Summary:</th><td> <%= (@writing_goal.summary.nil? or @writing_goal.summary.empty?) ? "..." : @writing_goal.summary %></td>
    </tr>
  </table>
  

  <div data-controller="tabs" data-tabs-active-tab="tab-active">
    <ul class="flex border-b list-reset">
      <%= tab_tag 'Heatmap' %>
      <%= tab_tag 'Todolists' %>
      <%= tab_tag 'Writing Entries' %>
    </ul>
    <%= tab_panel do %>
      <%= render "dashboard/heatmap", entries: @writing_goal.writing_entries %>
    <% end %>
    <%= tab_panel do %>
      <%= render 'todolists/index', todolists: @writing_goal.todolists, parent: @writing_goal %>
    <% end %>
    <%= tab_panel do %>
      <%= render 'writing_entries/index' %>
    <% end %>
  </div>
</div>