<%= form_with(model: question, class: "contents") do |form| %>
  <%= render FormErrorsComponent.new(object: question)%>
  <div class="my-5">
    <%= form.label :title, class: 'font-semibold text-xl hidden' %>
    <%= form.text_field :title, placeholder: "Type your question...", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <%= render 'reminders/form', form: form %>
  <div class="inline">
    <%= form.submit class: button_css('brand') %>
  </div>
<% end %>
