<%= form_with(model: question, class: "contents") do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation" class="bg-red-400 text-red-900 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>
      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :title, class: 'font-semibold text-xl hidden' %>
    <%= form.text_field :title, placeholder: "Type your question...", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <%= render 'reminders/form', form: form %>
  <div class="inline">
    <%= form.submit class: button_css('brand') %>
  </div>
<% end %>
