<article id="<%= dom_id @question %>">
  <% if can? :admin, Question %>
    <%= render OptionMenuComponent.new() do %>
      <%= edit_link_to(@question, "Edit Question")%>
      <%= trash_link_to(@question,'Put in the trash') %>
    <% end %>
  <% end %>
  <%= headline(@question, class: 'text-3xl font-semibold')%>
  <section id='answers'>
  <%= render @question.answers %>
  </section>
  <%= render 'answers/answer', parent: @question, answer: @question.answers.build %>
</article>