<article id="<%= dom_id @question %>">
  <% if can? :admin, Question %>
    <%= render OptionMenuComponent.new(object: @question) do %>
    <% end %>
  <% end %>
  <%= headline(@question, class: 'text-3xl font-semibold')%>
  <%# <div class='opacity-25'><%= "Reminders sent #{@question.reminder}" unless @question.reminder.nil? ></div> %>
  <section id='answers'>
  <%= render @question.answers %>
  </section>
  <%= render 'answers/answer', parent: @question, answer: @question.answers.build %>
</article>