<article id="<%= dom_id @question %>">
  <% if can? :admin, Question %>
    <%= render OptionMenuComponent.new(object: @question) do %>
    <% end %>
  <% end %>
  <%= headline(@question, class: 'text-3xl font-semibold')%>
  
  <% unless @question.reminder.nil? %>
    <div class='opacity-50 mr-8'>
      <%= "Reminders sent #{@question.reminder} at" %>
      <%= local_time(@question.reminder.start_time, format: "%-I:%M%P") unless @question.reminder.start_time.nil? %>
    </div>
  <% end %>
  <section id='answers'>
  <%= render @question.answers %>
  </section>
  <%= render 'answers/answer', parent: @question, answer: @question.answers.build %>
</article>