<%= form_with(model: link, url: book_book_links_path(@book)) do |form| %>
  <%= render FormErrorsComponent.new(object: link)%>

  <div class="field">
    <%= form.label :slug, class: 'block' %>
    <%= form.text_field :slug, class: 'rounded' %>
  </div>

  <div class="field">
    <%= form.label :url, class: 'block' %>
    <%= form.text_field :url, class: 'rounded' %>
  </div>
  <div class="field">
    <%= form.label :type, class: 'block' %>
    <%= form.text_field :type, class: 'rounded' %>
  </div>

  <div class="field">
    <%= form.label :comment, class: 'block' %>
    <%= form.text_area :comment, class: 'rounded' %>
  </div>
  <div class="actions">
  <%= render SubmitButtonComponent.new(form: form) %>
  </div>
<% end %>
