<%= form_with(model: link, url: book_book_links_path(@book)) do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
        <% link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :slug, class: 'block' %>
    <%= form.text_field :slug, class: 'rounded' %>
  </div>

  <div class="field">
    <%= form.label :url, class: 'block' %>
    <%= form.text_field :url, class: 'rounded' %>
  </div>
  <div class="field">
    <%= form.label :type, class: 'block' %>
    <%= form.text_field :type, class: 'rounded' %>
  </div>

  <div class="field">
    <%= form.label :comment, class: 'block' %>
    <%= form.text_area :comment, class: 'rounded' %>
  </div>
  <div class="actions">
  <%= form.submit "Save Changes", class: button_css('brand') %>
  </div>
<% end %>
