<%= form_with(model: link, url: book_book_links_path(@book)) do |form| %>
  <%= render FormErrorsComponent.new(object: link)%>
  <div class="field">
    <%= form.label :url, class: 'block' do %>
      <span class="text-gray-700">Link to Book</span>
      <%= form.text_field :url, class: 'form-input mt-1 block w-full rounded' %>
    <% end %>
  </div>
  <div class="field">
    <%= form.label :bookstore_id, class: 'block' do %>
      <span class="text-gray-700">Select Bookstore</span>
      <%= form.select(:bookstore_id, options_from_collection_for_select(Bookstore.all, :id, :name), class: 'form-input w-full rounded') %>
    <% end %>
  </div>
  <div class="actions">
    <%= render SubmitButtonComponent.new(form: form) %>
  </div>
<% end %>
