<%= form_with(model: team, class: "contents") do |form| %>
  <%= render FormErrorsComponent.new(object: team)%>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-12">
    <%= render SubmitButtonComponent.new(form: form)%>
  </div>
<% end %>
