<section>
  <%= h2('Heatmap') %>
  <h3 id='contribution'></h3>
  <div class='flex w-full'>
  <div id='heatmap' class='flex-1'>
    <div id='calgraph'></div>
  </div>
  <div class="flex-1">
  <ul class='text-sm'>
    <%- entries_years(entries).each do |year| %>
      <li>
        <%= tag.button(year, id: "button_#{year}", onclick: "build_heatmap(this.innerHTML)", class: 'year-button hover:bg-base-inverse rounded mb-1 py-1 px-2') %>
      </li>
    <%- end %>
  </ul>
  </div>
</section>
<%= javascript_include_tag( 'calendar-graph' )%>
<script type="text/javascript">
  function build_heatmap(year) {
      const heatmap_graph = new CalendarGraph({
      data: <%= set_heatmap_data(entries) %>,
      target: parseInt(document.getElementById('heatmap').value),
      year: year
    })
    heatmap_graph.render();
    heatmap_graph.write_contribution();
    const active_classes = ['bg-brand', 'text-base-inverse']
    document.querySelectorAll('.year-button').forEach(function (button) {
      button.classList.remove(...active_classes)
    })
    document.getElementById('button_'+year).classList.add(...active_classes)
  }
  document.addEventListener('DOMContentLoaded', (e) => {
    build_heatmap(<%= entries_years(entries).first %>)
  })
</script>