<%= tag.aside aria: {label: 'Subcription form' },
  class: 'max-w-lg mx-auto my-8 text-center transform p-2 dark:bg-cta dark:text-cta-900 bordered' do %>
  <p class="py-2 font-bold">Subscribe to get future posts from Ben Wilson</p>
  <%= form_with(model: User.new, url: user_registration_path) do |form| %>
    <%= invisible_captcha %>
    <%= form.email_field :email, autofocus: false, autocomplete: "email", placeholder: "Type your email…", class: 'form-input rounded' %>
    <%= form.submit "Subscribe", class: button_css('brand') %>
  <% end %>
  <%# <p>Or grab the <%= link_to 'RSS feed', "/atom.xml", class: "underline" %>
<% end %>
