<article class='max-w-2xl border rounded-lg mb-12 shadow-lg'>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <section class='p-4'>
    <%= headline("Manage #{resource_name.to_s.humanize} Profile")%>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  </section>
  <section id='identity' class='md:flex items-center space-x-4 p-4'>
    <div class='md:flex-none'>
      <div>
        <%= image_tag user_avatar(resource, 100), class: "rounded-full mx-auto" %>
      </div>
      <div class="mt-8 text-center">
        <%= f.file_field :avatar %>
      </div>
    </div>
    <div class='md:flex-1'>
      <div class='field'>
        <%= f.label :name %><br />
        <%= f.text_field :name, class: 'rounded', autofocus: true, autocomplete: "username" %>
      </div>
      <div class='field'>
        <%= f.label :email %><br />
        <%= f.email_field :email, class: 'rounded', autocomplete: "email" %>
      </div>
      <div class='field'>
        <strong>Roles:</strong>
        <% resource.roles.each do |role| %>
          <span class='py-1 px-2 mr-2'><%= role.name %></span>
        <% end %>
      </div>
    </div>
  </section>

  <section id='email' class="border-t mt-6 p-4">
    <h2 class="h2">Email Preferences</h2>

    <% %i[notify_when_broadcast_post notify_when_checkin notify_when_task_completed].each do |key| %>
    <div class="mb-6">
      <%= f.check_box key, class: 'rounded mr-2' %>
      <%= f.label key %>
    </div>
    <% end %>
  </section>


  <div class="actions text-center">
    <%= f.submit "Update profile", class: button_css('brand') %>
  </div>
<% end %>

<section class="border-t mt-6 p-4 text-center">
<h2 class='h2'>Cancel my account</h2>

<p>Unhappy?</p>
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: button_css('error') + " mx-auto" %>
</section>
</article>