<%= turbo_frame_tag dom_id comment do %>
<article class='relative z-0 flex p-0 my-6 space-x-3 overflow-x-hidden'>
  <div class='w-20'>
    <div class='text-sm uppercase text-base-subtle'><%= local_relative_time(comment.created_at, type: 'weekday') %></div>
    <div class='text-sm text-base-subtle'><%= local_relative_time(comment.created_at, type: 'time-or-date') %></div>
  </div>
  <div class='w-20'>
    <%= user_avatar_image(comment.user, 50) %>
  </div>
  <div class='flex-1 w-3/4'>
    <%= render layout: "components/options" do %>
      <%= link_to 'Edit Comment', edit_polymorphic_path(comment), data: { turbo_frame: dom_id(comment) } %>
      <%= link_to trash_link(comment,'Put in the trash') %>
    <% end %>
    <h3 class='font-semibold'><%= comment.user %></h3>
    <div><%= comment.content %></div>
  </div>
</article>
<hr>
<% end %>