<%= form_with(model: comment) do |form| %>
  <%= form.hidden_field :commentable_id %>
  <%= form.hidden_field :commentable_type %>
  <div class='m-2'>
    <%= form.rich_text_area :content %>
  </div>
  <div class="inline">
    <%= render SubmitButtonComponent.new(form: form, path:polymorphic_path(comment.commentable), inline: true) %>
  </div>
<% end %>
