<article class='my-4 flex' id='<%= dom_id(@activity) %>'>
  <div class='w-20 '>
    <% if @activity.owner %>
      <%= user_avatar_image(@activity.owner, 40) %>
    <% end %>
  </div>
  <div class='flex-1'>
    <h4>
      <span class="sr-only"><%= @activity.owner.to_s %></span>
      <%= t(@activity.key).html_safe % {target: @activity.trackable.to_s} %>
    </h4>
    <div class='flex  text-xs space-x-2'>
      <span> <%= @activity.owner.to_s unless @activity.owner.nil? %></span>
      <span>&middot;</span>
      <span>parent(@activity)</span>
      <span>&middot;</span>
      <%= local_time(@activity.created_at)%>
    </div>
  </div>
</article>
<article class="hidden" data-reading-dom-id="actions_reading_2139559296" data-unread-readable-identifier="Z2lkOi8vYmMzL1JlY29yZGluZy81MDcwNzY3Mzc0" data-unread-url="/4947255/my/readings/BAh7CEkiCGdpZAY6BkVUSSIuZ2lkOi8vYmMzL1JlY29yZGluZy81MDcwNzY3Mzc0P2V4cGlyZXNfaW4GOwBUSSIMcHVycG9zZQY7AFRJIg1yZWFkYWJsZQY7AFRJIg9leHBpcmVzX2F0BjsAVDA=--85d3aa74954ff48491390b48d4d3b26792ca9840" data-memory-url="/4947255/my/readings/2139559296/memory" data-edit-url="/4947255/my/readings/2139559296/edit" data-memorized="" data-read="true" data-subscription-url="/4947255/buckets/25420102/recordings/4613828349/subscription.js">


<a class="reading__link" href="/4947255/buckets/25420102/todolists/4613828349#__recording_5070767374">
  <div class="reading__avatar" aria-hidden="true" role="presentation">
    
    <div class="content-type-icon content-type-icon--comment"></div>
  </div>

  <div class="reading__content">
    <h4 class="reading__description normal flush--ends">
      <span class="a-for-screen-reader">Ben Wilson posted a comment,</span>
      Re: Reader Magnet - Smee
    </h4>

    <div class="reading__metadata">
  <span class="reading__metadata-chunk" aria-hidden="true" role="presentation">
    Ben Wilson
  </span>

    <span class="reading__metadata-chunk">
      <span class="a-for-screen-reader">in</span>
      Content Creation
    </span>

  <span class="reading__metadata-chunk">
    <time datetime="2022-06-25T14:59:51Z" data-local="time-or-date" title="June 25, 2022 at 10:59am EDT" aria-label="Jun 25">Jun 25</time>
  </span>
</div>

  </div>
</a>

  </article>