<%= turbo_frame_tag @id do %>
<article class='relative mt-6 mb-8 flex'>
  <aside class='w-20 flex-none hidden md:block'>
     <%= user_avatar_image(@object.user, 45) if @object.user %>
  </aside>
  <div class='border rounded-md border-brand-500/10 flex-1'>
  <% if @object.user %>
  <header class='flex w-full bg-brand-500/25 px-2 py-2 rounded-t-lg text-sm md:text-base'>
    <h3 class=' flex-1'>
      <span class='font-semibold'><%= @object.user %></span>
      <%= @verb %>
      on
      <%= local_relative_time(@datetime) if @object.id %>
      
    </h3>
    <div class='flex-none w-40 '>
    <% if @object.id %>
      <%= render OptionMenuComponent.new(object: @object) do %>
      <% end %>
    <% end %>
    </div>
  </header>
  <% end %>
  <section class='px-2 prose dark:prose-dark'>
  <%= content %>
  </section>
 </div>
</article>
<hr>
<% end %>