<section id='<%= dom_id(@series) %>'>
  <div class="main text-center md:text-left mt-12">
    <%= h2(@title % {title: @series.title}) %>
  </div>
  <div class="relative w-full flex gap-6 snap-x snap-mandatory overflow-x-auto p-14 shadow-inner bg-gray-200 dark:bg-gray-900">
    <div class="snap-center shrink-0">
      <div class="shrink-0 w-4 sm:w-48"></div>
    </div>
    <% @books.each do |book| %>
      <article class="snap-center shrink-0 first:pl-8 last:pr-8">
        <%= link_to book, class: 'flex flex-col mx-8 item-center mx-auto w-60' do %>
          <%= book_cover_image(book, class: "shrink-0 h-320 w-200 rounded-lg shadow-xl flex-1") %>
          <h3 class='my-2 text-2xl text-center italic'><%= book.title %></h3>
        <% end %>
      </article>
    <% end %>
    <div class="snap-center shrink-0">
      <div class="shrink-0 w-4 sm:w-48"></div>
    </div>
  </div>
</section>
