<div id="<%= dom_id author %>" class="scaffold_record">
  <p>
    <strong>Book:</strong>
    <%= author.book_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= author.user_id %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= author.summary %>
  </p>

  <p>
    <%= link_to "Show this author", author %>
  </p>
</div>
