<%= form_with(model: author) do |form| %>
  <%= render FormErrorsComponent.new(object: author)%>

  <div class="field">
    <%= form.label :book_id %>
    <%= form.text_field :book_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_field :summary %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
