<section id='hero' class='z-0' >
  <div class="relative flex items-center content-center justify-center pt-16 pb-32" style="min-height:75vh">
    <div id='underlay-1' class="absolute top-0 z-0 w-full h-full bg-center bg-cover"
         style="background-image:url(&#x27;<%=book_cover_background_image(@book)%>&#x27;)">
      <span id="overlay" class="absolute top-0 left-0 w-full h-full bg-brand-dark/[.70]"></span>
      <div id='underlay-2' class="absolute top-0 xz-10 w-full h-full bg-center bg-cover opacity-[.15]" 
         style="background-image:url(&#x27;<%= image_url('backgrounds/noise.jpg') %>&#x27;)"></div>
    </div>
    <div class="container relative max-w-screen-lg p-4 mx-auto rounded-lg bg-brand-light/50 dark:bg-brand-dark/50 md:text-xl backdrop-filter backdrop-blur-md md:flex space-x-8">
      <div class='w-full md:w-1/3'><%= book_cover_image(@book, class: 'h-320 w-200') %></div>
      <div class='w-full md:w-2/3 flex flex-col py-8'>
        <%= headline(@book) %>
        <div class='flex-1'><%= @book.synopsis %></div>
        <aside>
          <%= render CtaButtonComponent.new(book: @book) %>
        </aside>
      </div>
    </div>
  </section>
  <%# Photo by <a href="https://unsplash.com/@anniespratt?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Annie Spratt</a> on <a href="https://unsplash.com/s/photos/book-cover?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> %>
