<% if @book.series.books.count > 0 %>
<section id='other-titles' class='p-4'>
  <div class="<%=t('css_article')%>">
    <%= h2("Other books in #{@book.series.title} series") %>
  </div>
  <div class='overflow-x-scroll whitespace-nowrap  <%= zebra() %>'>
    <% @book.series.episodes.sort_by{|i| i.order }.each do |episode| %>
      <div class='inline-block m-3'>
        <%= link_to episode.book do %>
          <%= render 'books/cover', book: episode.book %>
        <% end %>
        <h3 class='my-2 text-xl text-center'><em><%= episode.book.title %></em></h3>
      </div>
    <% end %>
  </div>
</section>
<%end%>
