<% if @book.praises.count > 0 %>
  <section id='testimonials' class="py-4 <%= zebra() %>">
    <div class="main ">
    <%= h2("Praise for <em>#{@book}</em>".html_safe) %>
    <% @book.praises.each do |p| %>
      <div class="flex my-8">
      <div class='flex-1 <%#t('css_prose')%>'><%= p.comment %></div>
      <div class=""><%= link_to "Edit Praise", edit_book_praise_path(@book, p), class: 'link' %></div>
      </div>
    <%end%>
    <aside class='py-8 mt-4 text-center'>
    <%= render 'components/buy-cta', locals: {book: @book} %>
    </aside>
    </div>
  </section>
<% end %>

