<div id="<%= dom_id project %>">
  <p>
    <strong>Book:</strong>
    <%= project.book_id %>
  </p>

  <p>
    <strong>Start on:</strong>
    <%= project.start_on %>
  </p>

  <p>
    <strong>Finish on:</strong>
    <%= project.finish_on %>
  </p>

  <p>
    <strong>Target:</strong>
    <%= project.target %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= project.summary %>
  </p>

</div>
