<div class="main">
  <%= headline("Project: #{@book}") %>
  <div class='flex space-x-8 mb-12'>
    <%= book_cover_image(@book, class: "h-[320px] w-[200px] mx-auto") %>
    <section class='flex-1'>
      <%= render 'projects/turbo_form', project: @project %>
    </section>
  </div>
  <div data-controller="tabs" data-tabs-active-tab="tab-active">
    <ul class="flex border-b list-reset">
      <%= tab_tag 'Heatmap' %>
      <%= tab_tag 'Todolists' %>
      <%= tab_tag 'Writing Entries' %>
    </ul>
    <%= tab_panel do %>
      <%= render "dashboard/heatmap", entries: @project.writing_entries %>
    <% end %>
    <%= tab_panel do %>
      <%= render partial: 'todolists/index', locals: {todolists: @project.todolists, parent: @project} %>
    <% end %>
    <%= tab_panel do %>
      <%= render 'writing_entries/index' %>
    <% end %>
  </div>
</div>
