<tr>
<td class="px-2 border">
<% unless book.series.nil? %>
    <%= book.series.title  %>:
    <%= book.position %>
    <% end %>
</td>
  <td class="px-2 border">
    <%= link_to book.title, book, class: "link" %>
  </td>
  <td class="text-center border">
    <% if book.released_on.nil? %> 
      <%= link_to 'release today', book_release_path(book), class: "link" %>
    <% else %>
      <%= local_time_popover(book.released_on) %>
    <% end %>
  </td>
  <td class='text-center border'>
    <%= link_to bi_icon("pencil-square"), edit_book_path(book), class: 'ml-4 link' %>
    <%= link_to bi_icon("trash"), book_path(book), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'ml-4 link' %>
    <%= link_to bi_icon("card-checklist"), project_path(book.project), class: 'ml-4 link' if book.is_wip %> 
  </td>
</tr>