<%= form_with(model: book, url: url) do |form| %>
  <%#= render FormErrorsComponent.new(object: form)%>
  <div class="field">
    <%= form.label :title, class: 'font-bold text-2xl' %>
    <%= form.text_field :title, class: 'form-input w-full block rounded' %>
  </div>
  <div class="field">
    <%= form.label :released_on %>
    <%= form.text_field :released_on, 
          placeholder: "Select Date...",
          class: 'flatpickr flatpickr-input active form-input rounded',
          data: {
            controller: "flatpickr",
            flatpickr_date_format: "Y-m-d",
            flatpickr_enable_time: false,
            flatpickr_min_date: Time.zone.now
          }
    %>
  </div>

  <div class="my-8">
    <%= form.label :is_featured, "Featured on Homepage" %>
    <%= form.check_box :is_featured, class: 'rounded' %>
  </div>
  <% if @series.nil? %>
    <%= form.hidden_field :series_id, value: @serial.id %>
  <% else %>
    <div class="field">
    <%= form.label :series_id, "Series", class: 'h3' %>
    <%= form.collection_select(:series_id, @series, :id, :title)  %>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :tagline, class: 'h3' %>
    <%= form.text_area :tagline, class: 'form-input w-full block rounded' %>
  </div>

  <div class="my-8">
    <%= form.label :synopsis, class: 'h3' %>
    <%= form.rich_text_area :synopsis %>
  </div>

  <div class="my-8">
    <%= form.label :excerpt, class: 'h3' %>
    <%= form.rich_text_area :excerpt %>
  </div>

  <%= form.label :cover, class: 'h3' %>
  <div class='grid gap-4 px-4 py-5 lg:grid-cols-3 field'>
    <% if book.cover.attached? %>
      <aside class='grid place-content-center'>
      <%= book_cover_image(book) %>
        <%#= image_tag book.thumb, class: 'rounded' %>
      </aside>
    <% end %>
    <div class='grid lg:col-span-2 place-content-center'>
      <%= form.file_field :cover, accept: 'image/png,image/gif,image/jpeg' %>
    </div>
  </div>
  
  <%= form.label :hero_background, class: 'h3' %>
  <div class='grid gap-4 px-4 py-5 lg:grid-cols-3 field'>
    <% if book.hero_background.attached? %>
      <aside class='grid place-content-center'>
        <%= image_tag book_cover_background_image(book), class: 'rounded' %>
      </aside>
    <% end %>
    <div class='grid lg:col-span-2 place-content-center'>
      <%= form.file_field :hero_background, accept: 'image/png,image/gif,image/jpeg' %>
    </div>
  </div>
  <div class="my-12">
    <%= render SubmitButtonComponent.new(form: form)%>
  </div>
<% end %>
