<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :title, class: 'font-bold text-2xl' %>
    <%= form.text_field :title, class: 'form-input w-full block rounded' %>
  </div>

  <div class="my-8">
    <%= form.label :is_featured %>
    <%= form.check_box :is_featured %>
  </div>

  <%= h2(:episode) %>
  
  <%= form.fields_for :episode, @episode do |episode| %>
      <div class="field">
        <%= episode.collection_select(:series_id, @series, :id, :title) %>
        <%= episode.label :order, "# in series" %>
        <%= episode.text_field :order %>
      </div>
  <% end %>

  <div class="my-8">
    <%= h2(:synopsis) %>
    <%= form.rich_text_area :synopsis %>
  </div>

  <div class="my-8">
    <%= h2(:excerpt) %>
    <%= form.rich_text_area :excerpt %>
  </div>

  <%= h2(:cover) %>  
  <div class='grid gap-4 py-5 px-4 lg:grid-cols-3 field'>
    <% if book.cover.attached? %>
      <aside class='grid place-content-center'>
        <%= image_tag book.thumb, class: 'rounded' %>
      </aside>
    <% end %>
    <div class='grid lg:col-span-2 place-content-center'>
      <%= form.file_field :cover, accept: 'image/png,image/gif,image/jpeg' %>
    </div>
  </div>
  <%= h2(:hero_background) %>
  <div class='grid gap-4 py-5 px-4 lg:grid-cols-3 field'>
    <% if book.hero_background.attached? %>
      <aside class='grid place-content-center'>
        <%= image_tag book.background, class: 'rounded' %>
      </aside>
    <% end %>
    <div class='grid lg:col-span-2 place-content-center'>
      <%= form.file_field :hero_background, accept: 'image/png,image/gif,image/jpeg' %>
    </div>
  </div>
  <div class="my-12">
    <%= form.submit "Save Changes", class: button_css('blue')%>
    <%= link_to "Never Mind", :back, class: inverse_button_css('red')%>

  </div>
<% end %>
