<tr>
  <td class="px-2 border">
    <%= link_to book.title, book, class: "link" %>
  </td>
  <td class="text-center border">
    <% if book.released_on.nil? %> 
      <%= link_to 'release today', book_release_path(book), class: "link" %>
    <% else %>
      <%= local_time_popover(book.released_on) %>
    <% end %>
  </td>
  <td class='text-center border'>
    <%= link_to "edit", edit_book_path(book), class: 'link' %> |
    <%= link_to "goal", writing_goal_path(book.writing_goal), class: 'link' %> |
    <%= link_to "destroy", book_path(book), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'link' %>
  </td>
</tr>