<div class="main">
<%= puts @series.inspect %>
<% if can? :admin, Book %>
    <div class="flex mt-5 lg:mt-0 lg:ml-4h">
      <%= link_to 'New Series', new_series_path, class: 'action' %>
    </div>
    <% @series.each do |serial| %>
      <section class="p-4 card">
        <h2 class="h2"><%= serial.title %></h2>
        <%= link_to 'New Book', new_series_book_path(serial), class: 'action mb-4' %>
        <table class='w-full border table-fixed'>
        <%= render 'book_row_header' %>
        <tbody>
          <%= render partial: 'book_row', collection: get_books_in_series(serial), as: :book %>
        </tbody>
        </table>
      </section>
    <% end %>
<%end%>
</div>