<div class="panel mb-6">
  <%= h2(link.url) %>
  <p><%= link_to "Visit URL", sanitize(link.url) %></p>
  <aside class="my-4">
  <% unless link.linkable.nil? %>
  <p class="text-xl">
    Link for <%= link.linkable %>
  </p>
  <% end %>
    <span><%= link_to link.short, sanitize(link.short) %></span>
    <a class="<%= 'action'%>">Copy</a>
    <%= link_to 'Edit', edit_link_path(link), class: 'action' %>
  </aside>
  <p><span class="text-3xl"><%= Ahoy::Event.where_props(object: 'link', id: link.id).count / 2 %></span> Clicks</p>
</div>