<div>
  <%= h2("TITLE") %>
  <p><%= link_to link.url, link.url %></p>
  <aside class="my-4">
    <span><%= link_to link.short, link.short %></span>
    <a class="<%= 'action'%>">Copy</a>
    <%= link_to 'Edit', edit_link_path(link), class: 'action' %>
  </aside>
  <p><span class="text-3xl"><%= link.clicked %></span> Clicks</p>
</div>