<%= form_with(model: bucket) do |form| %>
<%= render FormErrorsComponent.new(object: bucket)%>

  <section class='flex'>
    <div class='flex-1'>
      <%= form.label :start_on %>
      <%= form.text_field :start_on, 
            placeholder: "Select Date...",
            class: 'flatpickr flatpickr-input active form-input rounded block',
            data: {
              controller: "flatpickr",
              flatpickr_date_format: "Y-m-d",
              flatpickr_enable_time: false
            }
      %>
    </div>
    <div class='flex-1'>
      <%= form.label :finish_on %>
      <%= form.text_field :finish_on, 
            placeholder: "Select Date...",
            xreadonly: 'readonly',
            enableTime: false,
            altInput: true,
            altFormat: "j F Y",
            dateFormat: "Y-m-d",
            class: 'flatpickr flatpickr-input active form-input rounded block',
            data: {
              controller: "flatpickr",
              flatpickr_date_format: "Y-m-d",
              flatpickr_enable_time: false
            }
      %>
    </div>
  </section>

  <div>
    <%= form.label :target %>
    <%= form.number_field :target, class: 'form-input rounded block' %>
  </div>

  <div class='my-4'>
    <%= form.label :summary %>
    <%= form.text_area :summary, class: 'form-input w-full block rounded' %>
  </div>

  <div class='my-4'>
    <%= render SubmitButtonComponent.new(form: form)%> or 
    
  </div>
<% end %>
