<div id="<%= dom_id bucket %>">
  <p>
    <strong>Book:</strong>
    <%= bucket.book_id %>
  </p>

  <p>
    <strong>Start on:</strong>
    <%= bucket.start_on %>
  </p>

  <p>
    <strong>Finish on:</strong>
    <%= bucket.finish_on %>
  </p>

  <p>
    <strong>Target:</strong>
    <%= bucket.target %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= bucket.summary %>
  </p>

</div>
