<tr id="<%= dom_id subscription %>" class="<%= zebra() %>">
  <td class="p-2 ">
    <%= link_to subscription.user.email, "#" %>
  </td>
  <td class="p-2 text-center">
    <%= subscription.posts ? "Yes" : "" %>
  </td>
  <td class="p-2 text-center">
    <%= subscription.books ? "Yes" : "" %>
  </td>
</tr>
