<%- checkbox_css = 'bg-gray-50 border-gray-300 focus:ring-3 focus:ring-blue-300 h-6 w-6 rounded' %>
<article class="single">
  <%= headline("Subscriptions") %>
  <section class="prose lg:prose-xl max-w-none">
  <p>
    Whether you are an Insider or just a subscriber, I would like to share periodic updates with you.
    You are subscribed to any of the following items marked with a checkbox.
    If you believe this to be in error, or no longer wish to subscribe, then uncheck and hit the button.
  </p>
  <p>
    Your privacy is something I value. The email list is not shared with a third party service.
    See our <a href="/privacy">privacy policy</a> for more information.
  </p>
  </section>
  <%= form_with(model: @subscription) do |form| %>
  <table class="w-full text-xl">
    <tbody>
      <tr>
        <td class="font-bold py-8">Newsletter</td>
        <td class='px-8 text-center'><%= form.check_box :wants_posts, {checked: (!@subscription.posts.nil?), class: checkbox_css}, true, false %></td>
        <td>Receive periodic, newsworthy emails from the author.</td>
      </tr>
      <tr>
        <td class="font-bold py-8">Books</td>
        <td class='px-8 text-center'><%= form.check_box :wants_books, {checked: (!@subscription.books.nil?), class: checkbox_css}, true, false %></td>
        <td>Receive periodic, emails about newly published books.</td>
      </tr>
      <tr>
      <td class="font-bold py-8">
      &nbsp;
      </td>
      <td class='text-center'><%= form.submit "Update", class: button_css('blue') %></td>
      </tr>
    </tbody>
  </table>
  
  <% end %>
</article>
class: 'bg-gray-50 border-gray-300 focus:ring-3 focus:ring-blue-300 h-6 w-6 rounded'