<article id="<%= dom_id todolist %>" class='my-8'>
  <header class='mt-6'>
      <span class="text-xs opacity-50"><%= todo_ratio(todolist) %></span>
      <div class='flex'>
        <%= todolist_heading(todolist, @show_project, @show_heading) %>
      </div>
  </header>
  <section class='todos' id='todos-in-progress_<%= todolist.id %>'>
    <%= render todolist.todos.in_progress %>
  </section>
  <div><%= link_to('Add a to-do', new_todolist_todo_path(todolist),
                   class: 'button',
                   data: {turbo_frame: 'modal'}) %></div>
  <section class='todos' id='todos-done'>
  <%= render todolist.todos.done %>
  </section>
</article>
<hr>