<div id="<%= dom_id todo %>" class='flex items-center my-1 space-x-4'>
  <%= bi_icon('list') %>
  <div class="flex space-x-3 form-check">
    <%= todo_checkbox(todo) %>
    <label class="inline-block text-gray-800 form-check-label" for="flexCheckDefault">
      <%= link_to(todo.summary.truncate(70), todo, class: "link") %>
    </label>
    <% unless todo.due_on.nil? %>
    <div>
    <%= bi_icon('calendar-event', class: "h-4 w-4 inline-block") %>
    <%= time_tag todo.due_on, date: todo.due_on, class: "text-sm" %>
    </div>
    <% end %>
  </div>
</div>
