<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-input rounded block w-full' %>
  </div>
  <div class="field">
    <%= form.label :published_at, "Publish this on", class: 'block' %>
    <%= form.text_field :published_at, 
          placeholder: "Select Date & Time...",
          class: 'flatpickr flatpickr-input active form-input rounded',
          data: {
            controller: "flatpickr",
            flatpickr_enable_time: true,
            flatpickr_week_numbers: true,
            flatpickr_date_ormat: "Y-m-d H:i"
          }
    %>
  </div>

  <div class="mt-8">
    <%= form.rich_text_area :content %>
  </div>

  <div class="actions">
    <%= render SubmitButtonComponent.new(form: form) %>
    
  </div>
<% end %>
