<tr>
  <td class="px-2 border">
    <%= link_to post.title, post, class: "link" %>
    
  </td>
  <td class="text-center border">
    <% if post.published_at.nil? %> 
      <%= link_to 'post now', post_path(post) + "/publish", class: "link" %>
    <% else %>
      <%= local_time_popover(post.published_at) %>
    <% end %>
  </td>
  <td class='text-center border'>
  <%= edit_link_to(post) %>
  <%= trash_link_to(post) %>
  <%= link_to bi_icon('share-fill', class: 'icon-link'), posts_broadcast_path(post), data: { turbo_method: :get, turbo_confirm: "Are you sure you want to broadcast?"}, class: 'link' if post.broadcastable? %>
  </td>
</tr>