<article class="single">
<%= render 'components/actions', obj: @post %>
<%- if @post.broadcastable? %>
<%= render 'posts/broadcast', post: @post %>
<%- end %>
<aside class="text-center text-gray-500 opacity-75 dark:text-gray-300">
  <%= local_time(@post.published_at, 'dd MMMM yyyy') %>
</aside>
<div class="text-center"><%= headline(@post.title.titlecase) %></div>

<section class="<%=t('css_prose')%>">
<%= @post.content %>
</section>

<%= render 'components/subscribe' %>
</article>
