<article class='single'>
  <% if can? :admin, Post %>
    <%= render OptionMenuComponent.new() do %>
      <%= edit_link_to(@post, "Edit Question")%>
      <%= link_to "Broadcast", posts_broadcast_path(@post) if @post.broadcastable? %>
      <%= trash_link_to(@post,'Put in the trash') %>
    <% end %>
  <% end %>
  <div class='mx-8'>
    <aside class="mx-12 text-center text-gray-500 opacity-75 dark:text-gray-300">
    <%= local_time(@post.published_at, '%-d %B %Y') %>
    </aside>
    <div class="text-center"><%= headline(@post.title.titlecase) %></div>

    <section class="<%=t('css_prose')%>">
    <%= @post.content %>
    </section>

    <%= render 'components/subscribe' %>
  </div>
</article>
