<article class='single'>
  <% if can? :admin, Post %>
    <%= render OptionMenuComponent.new(object: @post) do %>
      <%= link_to "Broadcast", posts_broadcast_path(@post) if @post.broadcastable? %>
    <% end %>
  <% end %>
  <div class='mx-8'>
    <aside class="mx-12 text-center text-gray-500 opacity-75 dark:text-gray-300">
    <%= local_time(@post.published_at, '%-d %B %Y') unless @post.published_at.nil? %>
    </aside>
    <%= headline(@post.title.titlecase) %>

    <section class="<%=t('css_prose')%>">
    <%= @post.content %>
    </section>

    <%= render 'components/subscribe' %>
  </div>
</article>
