<article>
<%= render 'components/actions', obj: @post %>
<aside class="text-center text-gray-500 opacity-75 dark:text-gray-300">
  <%= @post.published_at.strftime('%d %B %Y') unless @post.published_at.nil? %>
  <br>HERE<br>
  <%= local_time_ago(Time.now) %>
  <br>HERE<br>
  <%= lokal_time(@post.published_at) %>
</aside>
<div class="text-center"><%= headline(@post.title.titlecase) %></div>

<section class="<%=t('css_prose')%>">
<%= @post.content %>
</section>

<%= render 'components/subscribe' %>
</article>
