<% content_for :notification_content, flush: true do %>
  <div class='flex space-x-2 <%= notification.opened? ? "opened" : "unopened" %>'>
    <%# <div class="notification_list_cover"></div> %>
    <div class="w-12 flex items-center justify-center">
      <span><%= user_avatar_image(notification.notifier, 40) %></span>
    </div>
    <div class="flex-1 px-4">
      <p class="">
        <strong><%= notification.notifier.present? ? notification.notifier.to_s : 'Someone' %></strong>
        <% if notification.group_member_notifier_exists? %>
          <%= " and #{notification.group_member_notifier_count} other" %>
          <%= notification.notifier.present? ? notification.notifier.printable_type.downcase.pluralize(notification.group_member_notifier_count) : 'people' %>
        <% end %>
        notified you of
        <% if notification.notifiable.present? %>
          <% if notification.group_member_exists? %>
            <%= " #{notification.group_notification_count} #{notification.notifiable_type.humanize.downcase.pluralize(notification.group_notification_count)} including" %>
          <% end %>
          <%= notification.notifiable.printable_notifiable_name(notification.target) %>
          <%= "in #{notification.group.to_s}" if notification.group.present? %>
        <% else %>
          <% if notification.group_member_exists? %>
            <%= " #{notification.group_notification_count} #{notification.notifiable_type.humanize.downcase.pluralize(notification.group_notification_count)}" %>
          <% else %>
            <%= " a #{notification.notifiable_type.humanize.downcase.singularize}" %>
          <% end %>
          <%= "in #{notification.group.to_s}" if notification.group.present? %>
          but the notifiable is not found. It may have been deleted.
        <% end %>
        <br>
        <span><%= local_time(notification.created_at) %></span>
      </p>
    </div>
  </div>
<% end %>

<article class='border my-2 relative' id='<%= dom_id(notification) %>'>
  <% if notification.unopened? %>
    <%= link_to open_notification_path_for(notification, parameters.slice(:routing_scope, :devise_default_routes).merge(reload: false)), method: :put, remote: true, class: "unopened_wrapper" do %>
      <div class="unopened_circle absolute h-4 w-4 <%= gradient() %> top-1 left-9 rounded-full z-10"></div>
    <% end %>
    <%= link_to open_notification_path_for(notification, parameters.slice(:routing_scope, :devise_default_routes).merge(move: true)), method: :put do %>
      <%= yield :notification_content %>
    <% end %>
    <div class="unopened_wrapper"></div>
  <% else %>
    <%= link_to move_notification_path_for(notification, parameters.slice(:routing_scope, :devise_default_routes)) do %>
      <%= yield :notification_content %>
    <% end %>
  <% end %>

  <%#= link_to "Move", move_notification_path_for(notification, parameters.slice(:routing_scope, :devise_default_routes)) %>
  <%# if notification.unopened? %>
    <%#= link_to "Open and move (GET)", move_notification_path_for(notification, parameters.slice(:routing_scope, :devise_default_routes).merge(open: true)) %>
    <%#= link_to "Open and move (PUT)", open_notification_path_for(notification, parameters.slice(:routing_scope, :devise_default_routes).merge(move: true)), method: :put %>
    <%#= link_to "Open", open_notification_path_for(notification, parameters.slice(:routing_scope, :devise_default_routes).merge(index_options: @index_options))), method: :put %>
    <%#= link_to "Open (Ajax)", open_notification_path_for(notification, parameters.slice(:routing_scope, :devise_default_routes).merge(reload: false)), method: :put, remote: true %>
  <%# end %>
  <%#= link_to "Destroy", notification_path_for(notification, parameters.slice(:routing_scope, :devise_default_routes).merge(index_options: @index_options)), method: :delete %>
  <%#= link_to "Destroy (Ajax)", notification_path_for(notification, parameters.slice(:routing_scope, :devise_default_routes).merge(reload: false)), method: :delete, remote: true %>

</article>