<%= form_with(model: series) do |form| %>
  <%= render FormErrorsComponent.new(object: series)%>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-input w-full rounded' %>
  </div>

  <div class="my-4">
    <%= h2('Synopsis') %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="actions">
    <%= render SubmitButtonComponent.new(form: form)%>
    
  </div>
<% end %>
