<div id="<%= dom_id series %>" class="scaffold_record">
  <p>
    <strong>Title:</strong>
    <%= series.title %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= series.slug %>
  </p>

  <p>
    <strong>Synopsis:</strong>
    <%= series.synopsis %>
  </p>

  <p>
    <%= link_to "Show this series", series %>
  </p>
</div>
