<div class="main">
  <article class="single">
  <% if can? :admin, Series %>
    <%= render OptionMenuComponent.new() do %>
      <%= edit_link_to(@series, "Edit page") %>
      <%= trash_link_to(@series,'Put in the trash') %>
    <% end %>
  <% end %>
  <%= headline(@series.title) %>
  <section class='<%= t('prose') %>'>
    <%#= @series.content %>
  </section>
</div>
