<%= render TurboModalComponent.new(title: "Add new rave!") do %>
  <%= form_with(model: praise, url: [@book, praise]) do |form| %>
    <%= render FormErrorsComponent.new(object: praise)%>

    <div class="my-8">
      <%= form.rich_text_area :comment %>
    </div>

    <div class="actions">
      <%= render SubmitButtonComponent.new(form: form) %>
    </div>
  <% end %>
<% end %>
