<%= turbo_frame_tag dom_id praise do %>
<div class="relative" ixd='<%= dom_id(praise)%>'>
  <% if can? :admin, Question %>
    <%= render OptionMenuComponent.new(object: nil) do %>
      <%= edit_link_to([@book, praise], "Edit Praise")%>
      <%= trash_link_to(praise,'Put in the trash') %>
    <% end %>
  <% end %>
  <div class='max-w-xl my-12 mr-8 font-serif' ><%= praise.comment %></div>
  <hr>
</div>
<%end%>