<p id="notice"><%= notice %></p>

<%= render @praise %>

<div>
  <%= link_to "Edit this praise", edit_praise_path(@praise) %> |
  <%= link_to "Back to praises", praises_path %>

  <%= button_to "Destroy this praise", praise_path(@praise), method: :delete %>
</div>
