<!DOCTYPE html>
<html>
  <head>
    <title>Author Platform</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
    <link rel="alternate" type="application/rss+xml" title="Subscribe to what's new" href="/atom.xml">
    

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css" integrity="sha384-7ynz3n3tAGNUYFZD3cWe5PDcE36xj85vyFkawcF6tIwxvIecqKvfwLiaFdizhPpN" crossorigin="anonymous">
    <%= stylesheet_link_tag "merovex-fonts", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
  </head>
  <body class='flex flex-col min-h-screen text-base font-normal bg-white dark:bg-gray-800 dark:text-white text-black subpixel-antialiased'>
    <%= render 'components/user_navbar' if user_signed_in? %>
    <%= render 'components/masquerade' if user_masquerade? %>
    <%= render 'components/site_header' %>
    <% flash.each do |type, msg| %>
      <%= render 'components/banner', type: type, msg: msg%>
    <% end %>
    <main class="min-h-screen">
      <aside class="max-w-sm md:max-w-3xl mx-auto"><%= render_breadcrumbs %></aside>
      <%= yield %>
    </main>
    <%= render 'components/footer' %>
    <%= turbo_frame_tag "modal" %>
    <%= turbo_frame_tag "toolbar" %>
  </body>
  <script>
    document.cookie = 'tz='+Intl.DateTimeFormat().resolvedOptions().timeZone;
    tz_cookie = document.cookie
    console.log(tz_cookie)
  </script>
</html>
