<!DOCTYPE html>
<html>
  <head>
    <title>Author Platform</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='dark:bg-gray-800 dark:text-gray-300'>
    <%= render 'components/navbar' %>
    <main class="min-h-screen">
      <%= yield %>
    </main>
  </body>
</html>
